output/
*~lock*
*ICMGG*
griddes.txt 
*.pyc


# Python virtualenv
.ocpt.
.activate

# Python setuptools etc
*.egg-info

# VSCode
.vscode
input/ocean_input_default/


.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
ocp_tool/.ipynb_checkpoints/
input/fesom_mesh/
