input/
output/
*~lock*
*ICMGG*
griddes.txt 
*.pyc
*log
nohup.out

# Python virtualenv
.ocpt.
.activate

# Python setuptools etc
*.egg-info

# VSCode
.vscode
input/ocean_input_default/


*.ipynb
.ipynb_checkpoints/
input/fesom_mesh/
WORKLOG.md
