OpenIFS_input_new/
OpenIFS_input_old/
Runoff_mapper/
klaus/
make_grids_areas_ifs.py
make_grids_areas_ifs_T159.py
make_grids_areas_ifs_T255.py
make_grids_areas_ifs_inital.py
make_grids_areas_ifs_inital_T159-CORE2.py
make_grids_areas_ifs_inital_T255-MR.py
martin/
openifs_oasis_gridfiles/
post/
reduced_gaussian_grids/
rnfmap/

*.png
*.nc
